[submodule "class101_account"]
	path = class101_account
	url = https://github.com/pm1100tm/class101_account
[submodule "class101_menu"]
	path = class101_menu
	url = https://github.com/pm1100tm/class101_menu
